Repository GoogleCloudPlatform/php-docs-samples, pull requests merged in 2021-08, with the labels that each got.

#1459 chore(spanner): pin stats package to latest
  spanner/src/create_client_with_query_options.php
Labels: api: spanner, cla: yes, samples

#1461 fix(functions): race condition for file writes
  functions/tips_scopes/index.php
Labels: cla: yes, api: cloudfunctions, samples

#1456 samples: Bigtable: Added App Profile samples and tests
  bigtable/src/create_app_profile.php
  bigtable/src/delete_app_profile.php
  bigtable/src/get_app_profile.php
  bigtable/src/list_app_profiles.php
  bigtable/src/update_app_profile.php
  bigtable/test/bigtableTest.php
Labels: cla: yes, samples

#1457 feat(spanner): add samples for CMMR
  spanner/src/create_database_with_default_leader.php
  spanner/src/get_database_ddl.php
  spanner/src/get_instance_config.php
  spanner/src/list_databases.php
  spanner/src/list_instance_configs.php
  spanner/src/query_information_schema_database_options.php
  spanner/src/update_database_with_default_leader.php
  spanner/test/spannerTest.php
Labels: automerge, cla: yes, api: spanner, samples

#1437 feat: add remaining storage samples
  storage/src/download_public_file.php
  storage/src/set_bucket_public_iam.php
  storage/test/IamTest.php
  storage/test/storageTest.php
Labels: cla: yes, api: storage, samples

#1371 feat(functions): add custom extension sample
  functions/concepts_build_extension/.gitignore
  functions/concepts_build_extension/composer.json
  functions/concepts_build_extension/ext/config.m4
  functions/concepts_build_extension/ext/my_custom_extension.c
  functions/concepts_build_extension/ext/my_custom_extension.h
  functions/concepts_build_extension/index.php
  functions/concepts_build_extension/php.ini
  functions/concepts_build_extension/phpunit.xml.dist
  functions/concepts_build_extension/test/DeployTest.php
  functions/concepts_build_extension/test/SystemTest.php
Labels: cla: yes, api: cloudfunctions, samples
