Repository GoogleCloudPlatform/php-docs-samples, pull requests merged in 2022-11, with the labels that each got.

#1716 fix (bigquery): add order into test query
  bigquery/api/test/bigqueryTest.php
Labels: api: bigquery, samples

#1709 feat(Bigquery): Append column samples
  bigquery/api/src/add_column_load_append.php
  bigquery/api/src/add_column_query_append.php
  bigquery/api/test/bigqueryTest.php
  bigquery/api/test/data/test_data_extra_column.csv
Labels: api: bigquery, samples

#1712 Typo: s/configuration/state/
  iot/src/set_device_state.php
Labels: samples

#1642 chore: upgrade speech to new sample format
  speech/src/base64_encode_audio.php
  speech/src/multi_region_gcs.php
  speech/src/profanity_filter.php
  speech/src/profanity_filter_gcs.php
  speech/src/streaming_recognize.php
  speech/src/transcribe_async.php
  speech/src/transcribe_async_gcs.php
  speech/src/transcribe_async_words.php
  speech/src/transcribe_auto_punctuation.php
  speech/src/transcribe_enhanced_model.php
  speech/src/transcribe_model_selection.php
  speech/src/transcribe_sync.php
  speech/src/transcribe_sync_gcs.php
  speech/test/speechTest.php
Labels: type: cleanup, samples

#1685 feat(storage): sample for autoclass
  storage/src/get_bucket_autoclass.php
  storage/src/set_bucket_autoclass.php
  storage/test/storageTest.php
Labels: api: storage, samples

#1718 chore(firestore): remove obsolete region tags
  firestore/src/data_batch_writes.php
  firestore/src/data_delete_collection.php
  firestore/src/data_delete_doc.php
  firestore/src/data_delete_field.php
  firestore/src/data_get_all_documents.php
  firestore/src/data_get_as_map.php
  firestore/src/data_get_dataset.php
  firestore/src/data_get_sub_collections.php
  firestore/src/data_query.php
  firestore/src/data_reference_collection.php
  firestore/src/data_reference_document.php
  firestore/src/data_reference_document_path.php
  firestore/src/data_reference_subcollection.php
  firestore/src/data_set_array_operations.php
  firestore/src/data_set_doc_upsert.php
  firestore/src/data_set_field.php
  firestore/src/data_set_from_map.php
  firestore/src/data_set_from_map_nested.php
  firestore/src/data_set_id_random_collection.php
  firestore/src/data_set_id_random_document_ref.php
  firestore/src/data_set_id_specified.php
  firestore/src/data_set_nested_fields.php
  firestore/src/data_set_numeric_increment.php
  firestore/src/data_set_server_timestamp.php
  firestore/src/query_collection_group_dataset.php
  firestore/src/query_collection_group_filter_eq.php
  firestore/src/query_cursor_end_at_field_value_single.php
  firestore/src/query_cursor_pagination.php
  firestore/src/query_cursor_start_at_document.php
  firestore/src/query_cursor_start_at_field_value_multi.php
  firestore/src/query_cursor_start_at_field_value_single.php
  firestore/src/query_filter_array_contains.php
  firestore/src/query_filter_array_contains_any.php
  firestore/src/query_filter_compound_multi_eq.php
  firestore/src/query_filter_compound_multi_eq_lt.php
  firestore/src/query_filter_dataset.php
  firestore/src/query_filter_eq_boolean.php
  firestore/src/query_filter_eq_string.php
  firestore/src/query_filter_in.php
  firestore/src/query_filter_in_with_array.php
  firestore/src/query_filter_range_invalid.php
  firestore/src/query_filter_range_valid.php
  firestore/src/query_filter_single_examples.php
  firestore/src/query_order_desc_limit.php
  firestore/src/query_order_field_invalid.php
  firestore/src/query_order_limit.php
  firestore/src/query_order_limit_field_valid.php
  firestore/src/query_order_multi.php
  firestore/src/query_order_with_filter.php
  firestore/src/setup_client_create.php
  firestore/src/setup_client_create_with_project_id.php
  firestore/src/setup_dataset.php
  firestore/src/setup_dataset_read.php
  firestore/src/solution_sharded_counter_create.php
  firestore/src/solution_sharded_counter_get.php
  firestore/src/solution_sharded_counter_increment.php
  firestore/src/transaction_document_update.php
  firestore/src/transaction_document_update_conditional.php
Labels: api: firestore, samples

#1690 feat(Storage): sample for get bucket class and location
  storage/src/get_bucket_class_and_location.php
  storage/test/storageTest.php
Labels: api: storage, samples

#1695 [Storage][Sample] Object get kms key
  storage/src/object_get_kms_key.php
  storage/test/storageTest.php
Labels: api: storage, samples

#1719 chore: update all translate samples to new format
  translate/src/detect_language.php
  translate/src/list_codes.php
  translate/src/list_languages.php
  translate/src/translate.php
  translate/src/translate_with_model.php
  translate/src/v3_batch_translate_text.php
  translate/src/v3_batch_translate_text_with_glossary.php
  translate/src/v3_batch_translate_text_with_glossary_and_model.php
  translate/src/v3_batch_translate_text_with_model.php
  translate/src/v3_create_glossary.php
  translate/src/v3_delete_glossary.php
  translate/src/v3_detect_language.php
  translate/src/v3_get_glossary.php
  translate/src/v3_get_supported_languages.php
  translate/src/v3_get_supported_languages_for_target.php
  translate/src/v3_list_glossary.php
  translate/src/v3_translate_text.php
  translate/src/v3_translate_text_with_glossary.php
  translate/src/v3_translate_text_with_glossary_and_model.php
  translate/src/v3_translate_text_with_model.php
  translate/test/translateTest.php
Labels: samples

#1705 feat(BigQuery): Added sample to Insert rows into table without insertIds
  bigquery/api/src/table_insert_rows_explicit_none_insert_ids.php
  bigquery/api/test/bigqueryTest.php
Labels: api: bigquery, samples

#1721 feat(Spanner): DML returning samples
  spanner/src/delete_dml_returning.php
  spanner/src/insert_dml_returning.php
  spanner/src/pg_delete_dml_returning.php
  spanner/src/pg_insert_dml_returning.php
  spanner/src/pg_update_dml_returning.php
  spanner/src/update_dml_returning.php
  spanner/test/spannerPgTest.php
  spanner/test/spannerTest.php
Labels: api: spanner, samples

#1689 feat(Spanner): Add sample for add and drop database roles for Spanner
  spanner/src/add_drop_database_role.php
  spanner/test/spannerTest.php
Labels: samples

#1694 feat(Spanner): Add read write retry sample
  spanner/src/read_write_retry.php
  spanner/test/spannerTest.php
Labels: api: spanner, samples

#1725 samples: add Video Stitcher samples and tests
  media/videostitcher/README.md
  media/videostitcher/composer.json
  media/videostitcher/phpunit.xml.dist
  media/videostitcher/src/create_slate.php
  media/videostitcher/src/delete_slate.php
  media/videostitcher/src/get_slate.php
  media/videostitcher/src/list_slates.php
  media/videostitcher/src/update_slate.php
  media/videostitcher/test/videoStitcherTest.php
Labels: samples

#1726 chore: upgrade error_reporting samples to new format
  error_reporting/src/report_error.php
  error_reporting/test/report_errorTest.php
Labels: samples

#1638 chore: upgrade vision samples to new format
  vision/README.md
  vision/composer.json
  vision/src/detect_document_text.php
  vision/src/detect_document_text_gcs.php
  vision/src/detect_face.php
  vision/src/detect_face_gcs.php
  vision/src/detect_image_property.php
  vision/src/detect_image_property_gcs.php
  vision/src/detect_label.php
  vision/src/detect_label_gcs.php
  vision/src/detect_landmark.php
  vision/src/detect_landmark_gcs.php
  vision/src/detect_logo.php
  vision/src/detect_logo_gcs.php
  vision/src/detect_object.php
  vision/src/detect_object_gcs.php
  vision/src/detect_pdf_gcs.php
  vision/src/detect_safe_search.php
  vision/src/detect_safe_search_gcs.php
  vision/src/detect_text.php
  vision/src/detect_text_gcs.php
  vision/src/detect_web.php
  vision/src/detect_web_gcs.php
  vision/src/detect_web_with_geo_metadata.php
  vision/src/detect_web_with_geo_metadata_gcs.php
  vision/test/visionTest.php
  vision/vision.php
Labels: type: cleanup, samples

#1724 fix(Bigquery): remove redundant ExponentialBackoff
  bigquery/api/src/copy_table.php
  bigquery/api/src/import_from_local_csv.php
  bigquery/api/src/import_from_storage_csv.php
  bigquery/api/src/import_from_storage_csv_autodetect.php
  bigquery/api/src/import_from_storage_csv_truncate.php
  bigquery/api/src/import_from_storage_json.php
  bigquery/api/src/import_from_storage_json_autodetect.php
  bigquery/api/src/import_from_storage_json_truncate.php
  bigquery/api/src/import_from_storage_orc.php
  bigquery/api/src/import_from_storage_orc_truncate.php
  bigquery/api/src/import_from_storage_parquet.php
  bigquery/api/src/import_from_storage_parquet_truncate.php
  bigquery/api/src/run_query_as_job.php
Labels: api: bigquery, samples
