Repository GoogleCloudPlatform/php-docs-samples, pull requests merged in 2022-12, with the labels that each got.

#1735 chore: move cs-fixer to github actions
  .github/workflows/lint.yml
  .kokoro/lint.cfg
Labels: samples

#1734 chore: last changes to main
  .github/workflows/lint.yml
  testing/run_test_suite.sh
Labels: samples

#1728 chore(logging): adding product prefix to region tags to enable tracking
  appengine/flexible/logging/app.php
Labels: api: logging, samples

#1648 chore: upgrade datastore tutorial to new sample format
  datastore/tutorial/README.md
  datastore/tutorial/composer.json
  datastore/tutorial/src/CreateTaskCommand.php
  datastore/tutorial/src/DeleteTaskCommand.php
  datastore/tutorial/src/ListTasksCommand.php
  datastore/tutorial/src/MarkTaskDoneCommand.php
  datastore/tutorial/src/add_task.php
  datastore/tutorial/src/datastore_client.php
  datastore/tutorial/src/delete_task.php
  datastore/tutorial/src/functions.php
  datastore/tutorial/src/list_tasks.php
  datastore/tutorial/src/mark_done.php
  datastore/tutorial/tasks.php
  datastore/tutorial/test/CommandSystemTest.php
  datastore/tutorial/test/FunctionsTest.php
  datastore/tutorial/test/datastoreTutorialTest.php
Labels: type: cleanup, samples

#1755 chore: ignore the laravel example in renovate
  renovate.json
Labels: samples

#1754 chore: change READMEs to point to new docs urls
  compute/cloud-client/firewall/README.md
  compute/cloud-client/instances/README.md
  datastore/api/README.md
  datastore/tutorial/README.md
  dialogflow/README.md
  firestore/README.md
  language/README.md
  monitoring/README.md
  pubsub/api/README.md
  spanner/README.md
  speech/README.md
  storage/README.md
  texttospeech/README.md
  vision/README.md
Labels: samples

#1727 feat: add Video Stitcher samples and tests
  media/videostitcher/src/create_cdn_key.php
  media/videostitcher/src/create_cdn_key_akamai.php
  media/videostitcher/src/delete_cdn_key.php
  media/videostitcher/src/get_cdn_key.php
  media/videostitcher/src/list_cdn_keys.php
  media/videostitcher/src/update_cdn_key.php
  media/videostitcher/src/update_cdn_key_akamai.php
  media/videostitcher/test/videoStitcherTest.php
Labels: samples

#1756 feat: add Video Stitcher samples and tests
  media/videostitcher/src/create_vod_session.php
  media/videostitcher/src/get_vod_ad_tag_detail.php
  media/videostitcher/src/get_vod_session.php
  media/videostitcher/src/get_vod_stitch_detail.php
  media/videostitcher/src/list_vod_ad_tag_details.php
  media/videostitcher/src/list_vod_stitch_details.php
  media/videostitcher/test/videoStitcherTest.php
Labels: samples

#1757 chore: fix comment whitespace for new sample
  analyticsdata/src/run_report_with_aggregations.php
Labels: samples

#1736 chore(logging): remove obsolete region tags
  appengine/flexible/logging/app.php
Labels: kokoro:force-run, api: logging, samples

#1714 feat(analyticsdata): adds samples for run_report with date ranges
  analyticsdata/src/run_report_with_date_ranges.php
  analyticsdata/src/run_report_with_named_date_ranges.php
  analyticsdata/test/analyticsDataTest.php
Labels: samples, api: analyticsdata

#1737 feat(analyticsdata): add samples for run_report with multiple dimensions and metrics
  analyticsdata/src/run_report_with_multiple_dimensions.php
  analyticsdata/src/run_report_with_multiple_metrics.php
  analyticsdata/test/analyticsDataTest.php
Labels: samples, api: analyticsdata

#1742 feat(analyticsdata): add samples for run_report with filters
  analyticsdata/src/run_report_with_dimension_and_metric_filters.php
  analyticsdata/src/run_report_with_dimension_filter.php
  analyticsdata/src/run_report_with_multiple_dimension_filters.php
  analyticsdata/test/analyticsDataTest.php
  analyticsdata/test/quickstartTest.php
Labels: samples, api: analyticsdata

#1743 feat(analyticsdata): add samples for run_report with dimension exclude and in list filter
  analyticsdata/src/run_report_with_dimension_exclude_filter.php
  analyticsdata/src/run_report_with_dimension_in_list_filter.php
  analyticsdata/test/analyticsDataTest.php
Labels: samples, api: analyticsdata

#1758 feat: add Video Stitcher samples and tests
  media/videostitcher/src/create_live_session.php
  media/videostitcher/src/get_live_ad_tag_detail.php
  media/videostitcher/src/get_live_session.php
  media/videostitcher/src/list_live_ad_tag_details.php
  media/videostitcher/test/videoStitcherTest.php
Labels: samples

#1746 feat(analyticsdata): add samples for batch and pivot reports
  analyticsdata/src/run_batch_report.php
  analyticsdata/src/run_pivot_report.php
  analyticsdata/test/analyticsDataTest.php
Labels: samples, api: analyticsdata

#1747 feat(analyticsdata): add samples for run_realtime_report
  analyticsdata/src/run_realtime_report.php
  analyticsdata/src/run_realtime_report_with_multiple_dimensions.php
  analyticsdata/src/run_realtime_report_with_multiple_metrics.php
  analyticsdata/test/analyticsDataTest.php
Labels: samples, api: analyticsdata

#1745 feat(analyticsdata): add samples for metadata requests
  analyticsdata/src/get_common_metadata.php
  analyticsdata/src/get_metadata_by_property_id.php
  analyticsdata/test/analyticsDataTest.php
Labels: samples, api: analyticsdata
