Repository GoogleCloudPlatform/php-docs-samples, pull requests merged in 2022-01, with the labels that each got.

#1546 feat(storage): Turbo Replication Samples added
  storage/src/create_bucket_turbo_replication.php
  storage/src/get_turbo_replication_status.php
  storage/src/set_turbo_replication_async_turbo.php
  storage/src/set_turbo_replication_default.php
  storage/test/TurboReplicationTest.php
Labels: cla: yes, api: storage, samples

#1337 feat(functions): add Firebase auth sample
  functions/firebase_auth/composer.json
  functions/firebase_auth/index.php
  functions/firebase_auth/phpunit.xml.dist
  functions/firebase_auth/test/DeployTest.php
  functions/firebase_auth/test/IntegrationTest.php
Labels: cla: yes, api: cloudfunctions, samples

#1582 fix(deps): update dependency google/cloud-compute to ^1.0.0
  compute/cloud-client/helloworld/composer.json
Labels: api: compute, samples
