Repository GoogleCloudPlatform/php-docs-samples, pull requests merged in 2024-03, with the labels that each got.

#1967 chore: Upgrade Pubsub version in samples
  pubsub/api/composer.json
  pubsub/api/src/commit_avro_schema.php
  pubsub/api/src/commit_proto_schema.php
  pubsub/api/src/get_schema_revision.php
  pubsub/api/src/list_schema_revisions.php
  pubsub/api/test/SchemaTest.php
  pubsub/app/composer.json
  pubsub/quickstart/composer.json
Labels: samples

#1980 feat(Storage): Add Object retention samples
  storage/src/create_bucket_with_object_retention.php
  storage/src/object_metadata.php
  storage/src/set_object_retention_policy.php
  storage/test/storageTest.php
Labels: api: storage, samples

#1982 feat: Add topic schema revision samples
  pubsub/api/src/create_topic_with_schema_revisions.php
  pubsub/api/src/update_topic_schema.php
  pubsub/api/test/SchemaTest.php
Labels: samples

#1983 feat: Add publisher with compression enabled sample
  pubsub/api/src/publisher_with_compression.php
  pubsub/api/test/pubsubTest.php
Labels: api: pubsub, samples
