Repository GoogleCloudPlatform/php-docs-samples, pull requests merged in 2025-06, with the labels that each got.

#2103 feat(PubSub): Add CreateUnwrappedPushSubscription sample
  pubsub/api/src/create_unwrapped_push_subscription.php
  pubsub/api/test/pubsubTest.php
Labels: api: pubsub, samples

#2102 feat(PubSub): Add SubscriberErrorListener sample
  pubsub/api/src/subscriber_error_listener.php
  pubsub/api/test/pubsubTest.php
Labels: api: pubsub, samples

#2101 fix(PubSub): Add locational endpoint to SubscribeExactlyOnceDelivery sample
  pubsub/api/src/subscribe_exactly_once_delivery.php
Labels: api: pubsub, samples

#2098 feat(PubSub): Add update_topic_type sample
  pubsub/api/src/update_topic_type.php
  pubsub/api/test/pubsubTest.php
Labels: api: pubsub, samples

#2097 docs(PubSub): README improvements
  pubsub/api/README.md
Labels: api: pubsub, samples

#2091 feat(PubSub): Add CreateTopicWithAwsMskIngestion sample
  pubsub/api/src/create_topic_with_aws_msk_ingestion.php
  pubsub/api/test/pubsubTest.php
Labels: api: pubsub, samples

#2093 feat(PubSub): Add create_topic_with_azure_event_hubs_ingestion sample
  pubsub/api/src/create_topic_with_azure_event_hubs_ingestion.php
  pubsub/api/test/pubsubTest.php
Labels: api: pubsub, samples

#2085 feat(storage): add samples for soft delete (objects)
  storage/src/disable_soft_delete.php
  storage/src/get_soft_delete_policy.php
  storage/src/list_soft_deleted_object_versions.php
  storage/src/list_soft_deleted_objects.php
  storage/src/restore_soft_deleted_object.php
  storage/src/set_soft_delete_policy.php
  storage/test/ObjectsTest.php
  storage/test/storageTest.php
Labels: api: storage, samples

#2112 feat(BigQueryDataTransfer): upgrade to v2
  bigquerydatatransfer/composer.json
  bigquerydatatransfer/quickstart.php
Labels: api: bigquerydatatransfer, samples

#2114 feat(Dlp): upgrade remaining samples to v2
  dlp/src/create_stored_infotype.php
  dlp/src/deidentify_replace_infotype.php
  dlp/src/inspect_bigquery_send_to_scc.php
  dlp/src/inspect_bigquery_with_sampling.php
  dlp/src/inspect_datastore_send_to_scc.php
  dlp/src/inspect_gcs_send_to_scc.php
  dlp/src/inspect_gcs_with_sampling.php
  dlp/src/inspect_send_data_to_hybrid_job_trigger.php
  dlp/src/inspect_with_stored_infotype.php
  dlp/src/k_anonymity_with_entity_id.php
  dlp/src/update_stored_infotype.php
  dlp/src/update_trigger.php
  dlp/test/dlpLongRunningTest.php
  dlp/test/dlpTest.php
  servicedirectory/composer.json
  testing/bootstrap.php
  testing/composer.json
Labels: api: dlp, samples

#2086 feat(modelarmor): Added samples for Model Armor service
  .github/blunderbuss.yml
  CODEOWNERS
  modelarmor/composer.json
  modelarmor/phpunit.xml.dist
  modelarmor/src/create_template.php
  modelarmor/src/create_template_with_advanced_sdp.php
  modelarmor/src/create_template_with_basic_sdp.php
  modelarmor/src/create_template_with_labels.php
  modelarmor/src/create_template_with_metadata.php
  modelarmor/src/delete_template.php
  modelarmor/src/get_folder_floor_settings.php
  modelarmor/src/get_organization_floor_settings.php
  modelarmor/src/get_project_floor_settings.php
  modelarmor/src/get_template.php
  modelarmor/src/list_templates.php
  modelarmor/src/quickstart.php
  modelarmor/src/sanitize_model_response.php
  modelarmor/src/sanitize_model_response_with_user_prompt.php
  modelarmor/src/sanitize_user_prompt.php
  modelarmor/src/screen_pdf_file.php
  modelarmor/src/update_folder_floor_settings.php
  modelarmor/src/update_organization_floor_settings.php
  modelarmor/src/update_project_floor_settings.php
  modelarmor/src/update_template.php
  modelarmor/src/update_template_labels.php
  modelarmor/src/update_template_metadata.php
  modelarmor/test/modelarmorTest.php
  modelarmor/test/quickstartTest.php
  modelarmor/test/test_sample.pdf
Labels: samples, api: modelarmor

#2132 fix: skipping phpstan
  .github/workflows/lint.yml
Labels: samples

#2067 Feat(Storage): add samples for soft-delete and restore buckets
  storage/src/get_soft_deleted_bucket.php
  storage/src/list_soft_deleted_buckets.php
  storage/src/restore_soft_deleted_bucket.php
  storage/test/storageTest.php
Labels: api: storage, samples
